.custom-image {
background-image: url("/assets/images/background.jpg");
}


.add-button {
    background-color: #4d7db8;
    color: white;
    padding: 6px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    margin: 4px 2px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.text-center {
    text-align: center;
}

.custom-header {
    font-weight: bold;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.custom-input-font {
    color: black;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.grey-font {
    color: #8c8c8c;
}

.white-font {
    color: white;
}

.custom-input {
    height: 50px;
    width: 100%;
    background-color: #d2d2d2;
    vertical-align: middle;
}

.transparent-btn {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

.merged-elements {
    display: inline-table;
    padding-top: 8px;
    padding-right: 10px;
}

.merged-elements input {
    padding: 0 !important;
}

.custom-table {
    margin: 0 !important;
    colour: white !important;
}

.show-row button {
    display: none;
}

.show-row:hover button {
    display: inline; 
}

.strike {
   text-decoration: line-through;
}

 .custom-panel {
    margin-bottom: 40px !important;
}

.custom-yellow {
    background-color: #ffff80 !important;
}

.custom-plus {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    color: green;
}